.calendar-cards{
  display: flex;
}
.calendar-card {
    margin: 10px;
    border-radius: 10px;
    min-width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #F8F9FA;
}