.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}
.calendar-header h3 {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #3ea3db;
  letter-spacing: -3px;
}
.calendar-header p {
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: normal;
  color: #faaf11;
}

.calendar-cards {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.calendar-cards h2 {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #faaf11;
  letter-spacing: -1px;
}
.calendar-card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  min-width: 300px;
  height: 300px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f8f9fa;
}
.calendar-card-date {
  position: absolute;
  padding: 5px;
  top: 5px;
  left: 5px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #faaf11;
  letter-spacing: -1px;
  background-color: #707c86e4;
  border-radius: 10px;
}

.calendar-card h2 {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #3ea3db;
  letter-spacing: -1px;
  text-align: center;
}

.calendar-card-description {
  padding-left: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #66717a;
  font-size: 16px;
}
.calendar-card-image {
  border-radius: 10px 10px 0 0;
  width: 300px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
