.header-nav a{
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  transition: all ease-in 0.1s
}
.header-nav a:hover{
    color: #BC7D20;
  }
.header-nav{
    width: 650px;
    display: flex;
    justify-content: space-between;
}
a.active {
  color: #BC7D20;
}