
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 80px;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements {
    width: 100%;
}


.nav-elements ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 25px;
}

.nav-elements ul a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  transition: all ease-in 0.1s
}
.nav-elements ul .call-action {
    margin-left: auto;
  }

.nav-elements ul .call-action a{
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    font-weight: 800;
    color: #DD9933;
    transition: all ease-in 0.1s;
  }
  .call-action a:hover{
      color: #BC7D20;
    }
.call-action-text{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #7F888F
}

.nav-elements ul a.active {
    color: #BC7D20;
}
.nav-elements ul a:hover {
    color: #BC7D20;
}

@media (max-width: 1100px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1100px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #fef7e5;
    width: 0px;
    min-height: 100vh;
    height: 100%;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 100%;
    z-index: 7;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #fef7e5;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  .nav-elements ul .call-action {
    margin-left: 0;
  }
}
.home-page-logo {
    height: 80px;
    width: 200px;
    background-image: url('../../../assets/LOGO-small.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.link-logo{
  display: block;
  z-index: 8;
}