.title-wrapper {
  height: 180px;
  width: 100%;
  position: relative;
  background-color: #3ea3db;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-wrapper::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url(../../assets/bg-header-top.png) center center repeat-x;
  z-index: 1;
}
.title-wrapper::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  left: 0;
  background: url(../../assets/bg-header-top.png) center center repeat-x;
  z-index: 1;
  transform: rotate(180deg);
}
.title-wrapper h2 {
  text-align: center;
  font-size: 80px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  line-height: 80px;
  letter-spacing: -4px;
}

@media (max-width: 520px) {
  .title-wrapper h2 {
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -1px;
  }
}
