.main-page-slider{
    margin: 0 auto;
    max-width: 1440px;
    background-color: #3EA3DB;
    height: 500px;
}
.slider-container{
    position: relative;
    background-color: #3EA3DB;
}
.slider-container::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(../../assets/bg-header-top.png) center center repeat-x;
    z-index: 1;
}
.slider-container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    left: 0;
    background: url(../../assets/bg-header-top.png) center center repeat-x;
    z-index: 1;
    transform: rotate(180deg);
}
.main-page-slide{
    position: relative;
    height: 500px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-page-slide h4{
    font-size: 100px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    line-height: 100px;
    letter-spacing: -4px;
}
.main-page-slide p{
    margin-top: 40px;
    font-size: 40px;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FAAF11;
}
.main-page-slide a{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    background-color: #FAAF11;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.main-page-slide-content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 0 20px;
}
.main-pages-slide-image{
    width: 400px;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 70px;
}
.parallax-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1100px) {
    .main-pages-slide-image{
        display: none;
        /* margin: 0 auto;
        width: 400px;
        min-height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom; */
    }
}

@media (max-width: 520px) {
    .main-page-slide h4{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -1px;
    }
    .main-page-slide a{
        padding: 10px 15px;
        border-radius: 10px;
    }
    .main-pages-slide-image{
        width: 280px;
    }
    .main-page-slider{
       height: 350px;
    }
    .main-page-slide{
        height: 350px;
    }
}  
